# Better Auth
BETTER_AUTH_SECRET=PWbWMX0VU650KYFySom2nmgv6bWLFwLN
BETTER_AUTH_URL=http://localhost:3000

# Database
DATABASE_URL=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Discord
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=